{% extends 'dashboard/base.html' %}
{% load static %}


{% block content%}
<section style="padding-bottom: 28px;">
<ul class="nav justify-content-end">
  <li class="nav-item">
    <form class="form-inline my-2 my-lg-0 mb-5">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
	  <button class="btn btn-lm btn-success" type="submit" style="color: white;">Search</button>
      
</form>
  </li>
</ul>


</section>


<div class="container">
<div class="row">


								<div class="col-md-6 col-lg-4 col-xl-3 c_o">
									<div class="card widget-profile pat-widget-profile">
										<div class="card-body">
											<div class="pro-widget-content">
												
												<div class="profile-info-widget">
													<a href="patient-profile.html" class="booking-doc-img">
														 <img src="{% static 'User_admin/assets/img/bro.png'%}" class="img-fluid" alt="bro">
													</a>

													<div class="profile-det-info">
														<h3><a href="patient-profile.html">Md. Umar Faruk Shourov</a></h3>
														
														<div class="patient-details">
															<h5><b>Batch :</b> 26</h5>
															<h5><b>Section :</b> B</h5>
															
														</div>

													</div>

												</div>

											</div>

											<div class="patient-info">
												<ul>
													<li>Phone <span>01882982090</span></li>
													<li>Email <span>------</span></li>
													<li>
													
													
											<div class="social-icon ">
											
												
													<a href="#" target="_blank"><i class="fab fa-facebook-f p-2"></i>   </a>
												
													<a href="#" target="_blank"><i class="fab fa-twitter p-2 ml-5"></i>   </a>
											
													<a href="#" target="_blank"><i class="fab fa-linkedin-in p-3 ml-4"></i>   </a>
												
													
												
										</div>
										</li>
												</ul>
											</div>
										</div>
							
      
</div>
</div>

								<div class="col-md-6 col-lg-4 col-xl-3 c_o">
									<div class="card widget-profile pat-widget-profile">
										<div class="card-body">
											<div class="pro-widget-content">
												
												<div class="profile-info-widget">
													<a href="patient-profile.html" class="booking-doc-img">
														 <img src="{% static 'dashboard/assets/img/bro.png'%}" class="img-fluid" alt="bro">
													</a>

													<div class="profile-det-info">
														<h3><a href="patient-profile.html">Md. Umar Faruk Shourov</a></h3>
														
														<div class="patient-details">
															<h5><b>Batch :</b> 26</h5>
															<h5><b>Section :</b> B</h5>
															
														</div>

													</div>

												</div>

											</div>

											<div class="patient-info">
												<ul>
													<li>Phone <span>01882982090</span></li>
													<li>Email <span>------</span></li>
													<li>
													
													
											<div class="social-icon ">
											
												
													<a href="#" target="_blank"><i class="fab fa-facebook-f p-2"></i>   </a>
												
													<a href="#" target="_blank"><i class="fab fa-twitter p-2 ml-5"></i>   </a>
											
													<a href="#" target="_blank"><i class="fab fa-linkedin-in p-3 ml-4"></i>   </a>
												
													
												
										</div>
										</li>
												</ul>
											</div>
										</div>
							
      
</div>
</div>

</div>
</div>

                   





{%endblock content%}
