{% extends 'dashboard/base.html' %}

{% block content %}
	<div >
    <center>
    <h2>Our Course's</h2>
	<hr>
   
    </center>
        <nav class="navbar navbar-light bg-light justify-content-between">
            <a class="navbar-brand"></a>
                <form action="{% url 'search_course' %}" method="POST" class="form-inline">
                {% csrf_token %}
                <input class="form-control mr-sm-2" type="search" placeholder="Search by course title" name="searched" aria-label="Search">
                <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Search</button>
                </form>
        </nav>

		<div class="card card-body">
			<table class="table table-hover">
    

            <center>
				<tr>
		
					<th>Course Code</th>
					<th>Course Title</th>
                    <th></th>
                    <th></th>
				</tr>
            </center> 
         
                {% if searched %}
                  {% for i in course %}
                	<tr>
					    <td>{{i.code}}</td>
					    <td>{{i.title}}</td>
                        <td><a class="nav-link active" href="{% url 'edit_course' i.pk %}"><button type="button" class="btn btn-success">Edit</button></a></td>
                        <td><a class="nav-link active" href="{% url 'del_course' i.pk %}"><button type="button" class="btn btn-danger">Delete</button></a></td>
				    </tr>
                    
                    {% endfor %}    
                {% else %}

                    {% for i in object_list %}
                	<tr>
			 	
					    <td>{{i.code}}</td>
					    <td>{{i.title}}</td>
                        <td><a class="nav-link active" href="{% url 'edit_course' i.pk %}"><button type="button" class="btn btn-success">Edit</button></a></td>
                        <td><a class="nav-link active" href="{% url 'del_course' i.pk %}"><button type="button" class="btn btn-danger">Delete</button></a></td>
				    
                    </tr>
                    {% endfor %}              
                
                {% endif %}
              

			</table>
		</div>
	</div>




{% endblock content %}
